global
    user haproxy
    group haproxy
defaults
    mode http
    log global
    retries 2
    timeout connect 3000ms
    timeout server 5000ms
    timeout client 5000ms

listen stats
  bind    *:9000
  mode    http
  stats   enable
  stats   hide-version
  stats   uri       /stats
  stats   refresh   30s
  stats   realm     Haproxy\ Statistics
  stats   auth      admin:password

listen kubernetes-apiserver-https
  bind 0.0.0.0:8383
  mode tcp
  option log-health-checks
  timeout client 3h
  timeout server 3h
  {% for host in groups['kube-master'] %}
  server {{host}} {{hostvars[host].ansible_host}}:6443 check check-ssl verify none inter 10000
  {% endfor %}
  balance roundrobin